body{
  background: url("./homepage.jpg") no-repeat center center fixed;
  background-size: cover;

  font-family: "Roboto", sans-serif;
}

.paper > div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  height: 400px;
  margin: 0 auto;
  padding-top: 10%;
  width: 60%;

  background-color: #222;
  border-color: #65737E;
  border: solid 5px;
  box-shadow: 0 0 3px 5px rgba(0,0,0,.4);
  color: #e3e3e3;
}

h1{
  color: black;
  text-align: center;
}
.paper h3{
  order: 1;
}
.paper ul{
  order: 2;
  padding-left: 0;
}
.paper li{
  list-style: none;
}
.paper a{
  text-decoration: none;
  color: #eeeeee;
}
.paper a:hover{
  color: rgba(238,238,238,.7);
}
