@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
 _  _        _  _  _ 
| \| | __ _ | \| |(_)
| .` |/ _` || .` || |
|_|\_|\__,_||_|\_||_|
Last edited: 2014-05-19

Firefox selectors are fucking dumb.
v 0.1 for Arch

/////////////////////////
 _____     _       
 |_   _|_ _| |__ ___
   | |/ _` | '_ (_-<
   |_|\__,_|_.__/__/

/////////////////////////
*/
/* Stupid ass border at bottom*/
#TabsToolbar::after{
    display: none;
}
#tabbrowser-tabs{ /* Tab container*/
    background-color: #191919;
    color: #f6f6f6;
    margin-left:-10px; /* Flush with the side of the window */
    margin-right: -15px; /* You need like 5-7 tabs open for this to come into effect */
    margin-bottom: -10px; /* Since we shrink the tab size, we have to shrink the container to match */
}
.tabbrowser-tab{ /* Actual tabs */
    max-height: 18px;
    margin: 0 10px;
    padding: 0;
}
.tabbrowser-tab:not([pinned]) { 
    /* Defining a max/min width inside tabs breaks the ability 
    of the tab to shrink/move on close of another tab*/
    min-width: 50px;
}
.tab-text.tab-label{ /* Tab text */
    text-align: center;
    font-family: Anonymous Pro Minus !important;
    font-size: 11px;
}
/* Deal with rounded tabs in Australis */
.tab-background-start, .tab-background-end{ 
    display: none;
}
.tab-background-middle{
    background-image: none!important;
}
/* Tab hovering */
.tabbrowser-tab:hover .tab-background-middle{
    background-color: #f6f6f6;
}
/* Selected tab */
.tabbrowser-tab[selected="true"] .tab-background-middle, .tabbrowser-tab[selected="true"] .tab-content{ 
    background-color: #f6f6f6;
}
.tabbrowser-tab:hover .tab-label, .tabbrowser-tab[selected="true"] .tab-label{
    color: #191919;
}

/* Clean up miscellaneous shit that can't be done in customize */
#main-window #tabbrowser-tabs .tab-close-button,
#tabbrowser-tabs toolbarbutton.scrollbutton-up,
#tabbrowser-tabs toolbarbutton.scrollbutton-down,
#appmenu-button, #appmenu-toolbar-button, #alltabs-button,
.tabbrowser-tab .tab-icon-image,
.tabs-newtab-button,
.tab-throbber
{
    display: none !important;
}

/* Tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  background-image: none!important;;
}

/* 
/////////////////////////
  _   _ ___ _    
 | | | | _ \ |   
 | |_| |   / |__ 
  \___/|_|_\____|
                                
/////////////////////////
*/

#TabsToolbar:not([collapsed="true"]) + #nav-bar{
    border: none!important;
}

#nav-bar { 
    -moz-appearance: none!important;
    margin: 0 -1px; /* Theres these two white pixels for some reason */
    padding: 0;
}
#urlbar-container{
    margin: 0;
    padding: 0;
    max-height: 20px;
}
#urlbar{
    background-color: #191919;
    color: #f6f6f6;
    font-family: Anonymous Pro Minus;
    font-size: 11px;
    
    border: none;
    margin: 0!important;
    padding: 5px 0; /* make the URL bar take the full space of the container. */
    padding-left: 8px; /* its hard to read if the text is flush */
}

/* Selected text inside the URL bar */
#urlbar *|*::-moz-selection {
    background: #f6f6f6;
    color: #000;
}

/* Dropdown of suggested URL */
.popup-internal-box, .autocomplete-richlistbox{
    background-color: #191919!important;
    border: none!important;
    margin: -4px 0 -5px 0!important;
    padding: 0!important;
}
.ac-title, .ac-description, .ac-url-text, .ac-emphasize-text{
    color: #f6f6f6!important;
}
/* Selected from dropdown */
.autocomplete-richlistitem[selected="true"], .autocomplete-richlistiem:hover{
    background-color: #111!important;
    color: #f6f6f6!important; 
    text-decoration: underline;
}
/* Get rid of the little gray emphasis thing matching the URL snippet you typed*/
.autocomplete-richlistitem:hover *|*.ac-emphasize-text, .autocomplete-richlistitem[selected="true"] *|*.ac-emphasize-text{
	background: none;
    box-shadow: none;
}
/* If you have tab already or something */
.ac-action-text{
    color: #000;
}

#back-button,
#forward-button,
#urlbar-go-button,
#urlbar-reload-button,
#urlbar-stop-button,
#urlbar-container dropmarker, /* Dropdown inside urlbar */
#identity-box, /* SSL cert thingy */
#notification-popup-box, /* That one tab thingy that shows up next to cert thingy */
#PanelUI-button /* Customization button in Australis */
{
    display: none;
}
/*
//////////////////////////////////////////////////
  ___           _                  _       
 | _ ) ___  ___| |___ __  __ _ _ _| |__ ___
 | _ \/ _ \/ _ \ / / '  \/ _` | '_| / /(_-<
 |___/\___/\___/_\_\_|_|_\__,_|_| |_\_\/__/
                                           
//////////////////////////////////////////////////
*/

/* remove favicons */
.bookmark-item .toolbarbutton-icon{
    display:none;
}
/* Huge wrapper*/
#PersonalToolbar{
    background-color: #191919!important;
    margin-top: -5px!important;
}
/* Boookmarks wrapper*/
#personal-bookmarks { 
    margin: 0;
    background-color: #191919; 
}
/* Actual bookmarks */
.bookmark-item{
    -moz-appearance: none;
    color: #f6f6f6;
    margin: 0 2px;
    font-family: Anonymous Pro Minus;
    font-size: 11px;
}
/* ISSUE
If you use the arrow keys to select a bookmark item, it blends into the background.
I don't know how to style those. I thought it was selected=true but apparently not.
Update: _moz-menuactive = true
*/
.bookmark-item:hover, .bookmark-item[_moz-menuactive="true"]{
    color: #bbbbbb;
}
/* Bookmark menus */
.menu-iconic-icon{ /* Who needs favicons */
    display: none;
}
.menu-iconic.bookmark-item, .menuitem-iconic.bookmark-item{
    background: none!important;
    margin-left: -10px!important; /* Since we get rid of favicons might as well slide these over */
    padding: 2px 0!important;
}
/* ISSUE
If you use the arrow keys to select a bookmark item, it blends into the background.
I don't know how to style those. I thought it was selected=true but apparently not
*/
#navigator-toolbox::after{
    display: none;
}
