[Unit]
Description=Performs a backup of the media server directory
Wants=backupMedia.timer

[Service]
Type=oneshot
Environment=BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes
ExecStart=/usr/bin/bash -c '/usr/bin/borgbackup create /mnt/backups/

[Install]
WantedBy=multi-user.target
